altgraph==0.17.4
contourpy==1.2.0
cycler==0.12.1
datatable==1.1.0
fonttools==4.47.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
pillow==10.2.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.12
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
scipy==1.11.4
six==1.16.0
tzdata==2023.4
watchdog==3.0.0
